html {
  height: 100%;
  width: 100%;
  background-color: #333333;
  color: #FFFFFF;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.intelektual {
  text-align: center;
}
